<div class="container">
  <div class="img">
    <img id= "carnaval1" src="../../assets/img/img_top.svg" alt="">
    <img id= "carnaval2" src="../../assets/img/img_bottom.svg" alt="">
  </div>

  <div class="busca">
    <div class="titulo">
      <p id="t1">Find your block</p>
      <h1 id="h1">Encontre os <b id="t">melhores blocos</b><br>de carnaval de 2023</h1>
    </div>
    <div class="pesquisa">
      <div class="pesquisaNome">
        <span class="material-symbols-outlined">search</span>
        <input type="search" class="pesquisa_nome" placeholder="Pesquise por nome">
      </div>


       <div class="pesquisaBlocos">
        <span class="material-symbols-outlined">location_on</span>
        <!-- <input type="text"  placeholder="Selecione uma cidade" > -->
        <select class="cidade">
          <option id="options" value="vazio">Selecione uma cidade</option>
          <option id="options" value="Rio">Rio de Janeiro</option>
          <option id="options" value="Sao Paulo">São Paulo</option>
          <option id="options" value="Recife">Recife</option>
        </select>
       </div>
       <div class="botao">
        <button class="botao-busca">BUSCAR AGORA</button>
       </div>

    </div>
  </div>
</div>
