
@media (max-width: 1024px) {
  .pesquisaNome, .pesquisaBlocos{
    width: auto;
  }

}
@media (max-width: 768px) {
  .pesquisa{
    gap: 10px;
    padding: 1rem;
  }

  .pesquisaNome, .pesquisaBlocos{
    padding: 6px 4px 6px 7px;
    gap: 5px;
  }

  input, select{
    padding-left: 0.03rem;
  }

  .botao-busca{
    padding: 5px 0;
    font-size: 10px;
  }
}

@media (max-width: 600px) {

  .container, .img{
    height: 50vh;
   }

  #carnaval1{
    width:52%;
    height: 200px;
  }

  #carnaval2{
    width:52%;
    height: auto;
  }

  .busca{
    height: 332px;
    top: 42px;
    font-size: 16px;
    gap: 0;
  }

  .pesquisa {
    gap: 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .botao-busca{
    padding: 5px;

  }
}
