<div class="container">
  <section class="titulo-card">
    <h2 class = "titulo">Blocos recomendados</h2>
    <div class="acao">
      <button class="botao-busca" id="lista">Lista</button>
      <button class="botao-busca" id="mapa">Mapa</button>
    </div>

  </section>
  <section class="cards">
    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_01.jpg" alt="Homem de Cartola">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">O Pynthon do vovô não sobe mais</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_02.jpg" alt="Serpentina no chão">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Todo mundo null</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Florianópolis - SC</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_03.jpg" alt="Multidão Fantasiada">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Hoje dou exception</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Curitiba - PR</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_04.jpg" alt="Homem fantasiado de índio">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Manda Node</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Salvador - BA</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_05.jpg" alt="Amigos fantasiados">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Só no back-end</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">São Paulo - SP</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_06.jpg" alt="Homem tocando corneta">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Esse anel não é de Ruby</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">São Paulo - SP</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_07.jpg" alt="Mulheres fantasiadas">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Pimenta no C# dos outros é refresco</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_08.jpg" alt="Multidão no carnaval">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">EnCACHE aqui</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Porto Alegre - RS</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/img_09.jpg" alt="Mulher com pintura indígena">
      </div>

      <div class="box-texto">
        <h3 class="sub-titulo">Não valho nada mas JAVA li</h3>
        <p class="descricao">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">São Paulo - SP</p>
        </div>
      </div>
    </div>

  </section>
</div>
