<div class="container">
  <div>
    <h1 class = "titulo">Blocos recomendados</h1>
    <button>Lista</button>
    <button>Mapa</button>
  </div>
  <div class="cards">
    <div class="box-card">
      <img src="" alt="">
      <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
      <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
      <div class="localizacao">
        <span></span>
        <p>Rio de Janeiro - RJ</p>
      </div>
    </div>
  </div>
</div>
