<div class="container">
  <div class="titulo-card">
    <h1 class = "titulo">Blocos recomendados</h1>
    <div class="acao">
      <button class="botao-busca" id="lista">Lista</button>
      <button class="botao-busca" id="mapa">Mapa</button>
    </div>

  </div>
  <div class="cards">
    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

    <div class="box-card">
      <div class="box-img">
        <img class="img" src="../../assets/img/carnaval-01.webp" alt="Mascara">
      </div>

      <div class="box-texto">
        <h2 class="sub-titulo">O Pynthon do vovo não sobe mais</h2>
        <p class="descricao">akjdaskdafnajfnafjna~fa~fklnfanfãsfna~fkan~kfna~fknafkankfnaf~kalnfa~klfnakfna~klfnakfnaklfnas~klfnaskfn</p>
        <div class="localizacao">
          <span class="material-symbols-outlined">location_on</span>
          <p id="localizacao">Rio de Janeiro - RJ</p>
        </div>
      </div>
    </div>

  </div>
</div>
